---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?aqi=no&key=d83c18de62814e559d1143220240404&q=Chicago
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999974'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/05/2024 00:06:21
      Cdn-Edgestorageid:
      - '718'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 39764b8ad0f3395d4c03406fa21e6d67
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Chicago","region":"Illinois","country":"United
        States of America","lat":41.85,"lon":-87.65,"tz_id":"America/Chicago","localtime_epoch":1712275475,"localtime":"2024-04-04
        19:04"},"current":{"last_updated_epoch":1712275200,"last_updated":"2024-04-04
        19:00","temp_c":5.0,"temp_f":41.0,"is_day":1,"condition":{"text":"Partly cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":17.4,"wind_kph":28.1,"wind_degree":350,"wind_dir":"N","pressure_mb":1010.0,"pressure_in":29.83,"precip_mm":0.0,"precip_in":0.0,"humidity":79,"cloud":75,"feelslike_c":0.6,"feelslike_f":33.2,"vis_km":16.0,"vis_miles":9.0,"uv":2.0,"gust_mph":21.1,"gust_kph":33.9}}'
  recorded_at: Fri, 05 Apr 2024 00:06:21 GMT
recorded_with: VCR 6.2.0
