---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/current.json?aqi=no&key=d83c18de62814e559d1143220240404&q=--glitch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999978'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/04/2024 23:54:38
      Cdn-Edgestorageid:
      - '1029'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - cdcdf7f5627414729513bc2c7cab0604
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Glitch","region":"Cabo Delgado","country":"Mosambik","lat":-12.64,"lon":40.23,"tz_id":"Africa/Maputo","localtime_epoch":1712274772,"localtime":"2024-04-05
        1:52"},"current":{"last_updated_epoch":1712274300,"last_updated":"2024-04-05
        01:45","temp_c":23.7,"temp_f":74.7,"is_day":0,"condition":{"text":"Mist","icon":"//cdn.weatherapi.com/weather/64x64/night/143.png","code":1030},"wind_mph":2.7,"wind_kph":4.3,"wind_degree":191,"wind_dir":"SSW","pressure_mb":1012.0,"pressure_in":29.89,"precip_mm":0.07,"precip_in":0.0,"humidity":97,"cloud":74,"feelslike_c":26.3,"feelslike_f":79.3,"vis_km":2.0,"vis_miles":1.0,"uv":1.0,"gust_mph":5.1,"gust_kph":8.2}}'
  recorded_at: Thu, 04 Apr 2024 23:55:42 GMT
recorded_with: VCR 6.2.0
